<h3>Sign In</h3>

<form method="post" action="<%= sessions_url %>">
  <label for="username">
    Username:
    <% if @username.nil? %>
      <input type="username" name="username" size="20" /><br/>
    <% else %>
      <%= @username %>
    <% end %>
  </label><br/>
  <label for="password">
    Password:
    <input type="password" name="password" size="20" /><br/>
  </label>
  <input type="submit" name="result" value="Login" />
  <input type="submit" name="result" value="Cancel" />
</form>
