<h3>Sign In</h3>

<form method="post" action="<%= sessions_url %>">
  <label for="username">
    Username: <%= username_for @oidreq.identity %>
    <!-- <input type="password" name="password" size="15" /><br/> -->
  </label><br/>
  <label for="password">
    Password:
    <input type="password" name="password" size="15" /><br/>
  </label>
  <input type="submit" name="result" value="Login" />
  <input type="submit" name="result" value="Cancel" />
</form>
