<h1>Sign In</h1>

<form method="post" action="<%= sessions_url %>">
  Username: <%= @username %><br/>
  <input type="password" name="password" size="15" /><br/>
  <input type="submit" name="result" value="Login" />
  <input type="submit" name="result" value="Cancel" />
</form>
