.bundle
db/*.db
db/*.sql
db/*.bak
db/backup/*
log/*.log
tmp/**/*
.rvmrc
db/openid-store
*~
*.war
doc/whitepaper.html
doc/undertaking_forms
coverage/
config/database-deploy.yml
config/initializers/secrets.rb
db/palo_*
