<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>
<head></head>
<body>
  <p>Dear <%= @user.name || @user.user %>,</p>
  <p>You have now been granted access to the following dataset(s):</p>
  <p>
    <% @datasets.each do |dataset| %>
      <%= dataset.dataset_description %>
    <% end %>
  </p>
  <p>Please refer to the Catalogue guide, which provides information on how to browse, analyse, visualise and download data.</p>

  <%= render '/email_signature' %>
</body>
</html>
