body {
    font: 11px/16px Arial, Helvetica, sans-serif;
    background: #E8E8E8!important;
}
.navigation ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
}

.navigation li {
    float: left;
    padding: 5px;
    border: 1px solid gray;
    background-color: #ccc;
    margin-right: 1em;
}

#main {
    clear: both;
    margin: 2em 0;
}

#flash_notice {
    padding: 5px;
    border: 1px solid gray;
    background-color: yellow;
    margin: 1em 0;
}

#flash_alert {
    padding: 5px;
    border: 1px solid gray;
    background-color: red;
    margin: 1em 0;
}

.status {
    border: 1px solid gray;
    background-color: #eee;
}

.status dl dd {
    margin: 5px;
}

.status dl dt {
    display: inline-block;
    float: left;
    clear: both;
    width: 20em;
    font-weight: bolder;
    text-align: right;
    margin-right: 1em;
}
