body {
    font: 11px/16px Arial, Helvetica, sans-serif;
}

.navigation ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
}

.navigation li {
    float: left;
    padding: 5px;
    border: 1px solid gray;
    background-color: #ccc;
    margin-right: 1em;
}

#main {
    clear: both;
    margin: 2em 0;
}

#header {
    border-bottom: 2px solid #6678b1;
}
#title {
    font-size: 32px;
    color: #039;
    padding: 0.5em 0.5em 0.5em 0;
}
#subtitle {
    padding: 0 0 0.5em 0;
    font-size: 22px;
    color: #039;
}
#links {
    text-align: center;
}

#account {
    float: right;
}

#flash_notice {
    padding: 5px;
    border: 1px solid gray;
    background-color: yellow;
    margin: 1em 0;
}

#flash_alert {
    padding: 5px;
    border: 1px solid gray;
    background-color: red;
    margin: 1em 0;
}

.status {
    border: 1px solid gray;
    background-color: #eee;
}

.status dl dd {
    margin: 5px;
}

.status dl dt {
    display: inline-block;
    float: left;
    clear: both;
    width: 20em;
    font-weight: bolder;
    text-align: right;
    margin-right: 1em;
}

form.formtastic fieldset ol li.radio fieldset ol li {
    float: left;
    padding-right: 2em;
}

form.formtastic .select-filter-container {
  padding-left: 25%;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin-bottom: 2em;
    border-collapse: collapse;
    text-align: left;
}
th {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}
tbody tr:hover td {
    color: #009;
}

a img {
    border: none;
}

#search {
    text-align: center;
}

.radio-tabs-tabs label {
  margin-right: 1em;
}
.radio-tabs-tabs {
  margin-bottom: 1em;
}

.undertaking-edit-actions input {
  float: left;
  margin: 0 1em 1em 0;
}

form.undertaking select {
  width: 50%
}

select.loading {
  background: url(/images/ajax-loader-small.gif) no-repeat 95% 0%;
}