header .login {
    position: relative;
}

.main {
    margin-left: 40px;
}

#flash_notice, #flash_alert {
    padding: 5px;
    border: 1px solid #1F5E2F;
    background-color: #F1F1F1;
    margin: 1em 0;
}
#flash_alert {
    border: 1px solid #f00;
}

.status {
    border: 1px solid gray;
    background-color: #eee;
}

.status dl dd {
    margin: 5px;
}

.status dl dt {
    display: inline-block;
    float: left;
    clear: both;
    width: 20em;
    font-weight: bolder;
    text-align: right;
    margin-right: 1em;
}

a.button {
    display: block;
    float: left;
    margin: 0 8px 8px 0;
    padding: 4px 8px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#666), to(#333));
    background: -moz-linear-gradient(#666, #333);
    background: linear-gradient(#666, #333);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #CCC;
    text-transform: uppercase;
    text-decoration: none;
}

form.formtastic fieldset ol li.radio fieldset ol li {
    float: left;
    padding-right: 2em;
}

form.formtastic fieldset > ol > li label {
    float: none;
}
form.formtastic fieldset > ol > li fieldset ol {
    float: none;
    padding-left: 0;
}

form.formtastic fieldset > ol > li fieldset {
    margin-top: 1em;
}
form.formtastic fieldset > ol > li fieldset legend.label {
    top: -12px;
}
form.formtastic fieldset > ol > li fieldset ol {
    margin-top: 1em;
}


form.formtastic fieldset > ol > li p.inline-hints {
    margin-left: 0;
}

form.formtastic fieldset.inputs > ol > li input,
form.formtastic fieldset.inputs > ol > li select,
form.formtastic fieldset.inputs > ol > li textarea {
    width: 40%;
    max-width: 40%;
}
form.formtastic fieldset.inputs > ol > li.check_boxes input {
    width: auto;
    max-width: auto;
}

form.formtastic fieldset > ol > li fieldset ol li {
    list-style-type: none;
}

form.formtastic fieldset > ol > li p.inline-errors {
    margin-left: 0;
}

form.formtastic fieldset.buttons {
    padding-left: 0;
}


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin-bottom: 2em;
    border-collapse: collapse;
    text-align: left;
}
th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    border-bottom: 2px solid #1F5E2F;
}
td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}


a img {
    border: none;
}

#search {
    text-align: center;
}

.radio-tabs-tabs label {
  margin-right: 1em;
}
.radio-tabs-tabs {
  margin-bottom: 1em;
}

.undertaking-edit-actions input {
  float: left;
  margin: 0 1em 1em 0;
}

form.undertaking select {
  width: 50%
}

select.loading {
  background: url(/images/ajax-loader-small.gif) no-repeat 95% 0%;
}

.admin-undertakings-stats {
  float: right;
  margin-bottom: 2em;
  padding: 5px;
  font-size: 14px;
  background-color: #f1f1f1;
  border: 1px solid #1F5E2F;
}
table.admin-undertakings {
  width: 100%;
  margin-top: 4em;
}
p.admin-undertaking-actions {
  float: right;
  padding: 5px;
  background-color: #f1f1f1;
  border: 1px solid #1F5E2F;
}

#category_a form.edit_user, #category_b form.edit_user {
  margin-bottom: 3em;
}
#category_a table, #category_b table, #category_a select, #category_b select {
  margin-bottom: 0.5em;
}
#category_a select, #category_b select, form.undertaking select {
  height: 20em;
}

.signed_undertaking_form_no {
  background-color: #d24545;
}