# Warning: This file is NOT to be checked in to version control
#
# Define secret information for the website that would threaten a security
# breach if it were made public. This information is not stored in the
# version control repository since that information is publically available.

unless defined? Secrets
  module Secrets
    # Database
    DATABASE_HOST = ""
    DATABASE_USERNAME = ""
    DATABASE_PASSWORD = ""

    # Cookie secret token
    SECRET_TOKEN = ''

    # API key
    API_KEY = ''
  end
end
