<h2>User Registration</h2>

<% if Rails.env.production? %>
  <p>
    Registration gives you access to analyse all of ASSDA's
    unrestricted holdings online for free.  The information collected
    will only be used to understand who is using our holdings and why.
    By submitting the form, you agree to use the data for statistical
    purposes only and not for commercial or financial gain.  Where
    statistical tables, graphs etc. obtained from analysis of these
    data are included in any published work, you agree to provide
    ASSDA with the bibliographic details and, where available, online
    links to the published work and to use the form of citation
    provided in the relevant online catalogue record.
  </p>
  <p>
    Please fill out and submit the form below.  All fields are
    required:
  </p>
<% end %>

<%= render 'form' %>
