<p>
  I HEREBY UNDERTAKE that I will use the data file(s)<br/>
  <br/>
  <% undertaking.datasets.each do |dataset| %>
    <%= dataset.dataset_description %><br />
  <% end %>
</p>

<p>
  (hereinafter called 'the materials') supplied to me by the Australian Social Science Data Archives at the Australian National University for non-commercial research and educational purposes only, <strong>in accordance with and subject to the Conditions of Use set out below</strong>.<br/>
  <br/>
  I also consent to my name and institutional affiliation being provided to the data owners so they may collect information about the usage of their data and
 make contact with colleagues with similar interests.<br/>

  <% unless undertaking.user.institution_is_acspri_member %>
    <br/>
    I also undertake to meet the relevant charges for the materials.
  <% end %>
</p>


<h3>Conditions of Use</h3>

<p>
  I acknowledge that:
  <ol>
    <li>Use of the materials is restricted to non-commercial research and educational purposes only. The materials are not to be used for any other purpose without the express written permission of the Data Archive Manager.</li>
    <br/>
    <li>Use of the materials for the following purposes is not permitted:</li>
    <br/>
    <ol type="a">
      <li>transmitting or allowing access to the materials in part or whole to any other person / Department / Organisation not a party to this undertaking; and</li>
      <br/>
      <li>attempting to match the materials in whole or in part with any other information for the purposes of attempting to identify individuals, households or organisations.</li>
      <br/>
    </ol>
    <li>Outputs such as statistical tables, graphs, diagrams and interpretations obtained from my analysis of these materials may be further disseminated provided that I:</li>
    <br/>
    <ol type="a">
      <li>acknowledge both the original depositors and the Australian Social Science Data Archive;</li>
      <br/>
      <li>acknowledge another archive where the data file is made available through the Australian Social Science Data Archive by another archive;</li>
      <br/>
      <li>declare that those who carried out the original analysis and collection of the data bear no responsibility for the further analysis or interpretation of it; and</li>
      <br/>
      <li>provide ASSDA with the bibliographic details and, where available, online links to any published work (including journal articles, books or book chapters, conference presentations, theses or any other publications or outputs) based wholly or in part on the material.</li>
      <br/>
    </ol>
    <li>Use of the material is solely at my risk and I indemnify the Australian Social Science Data Archive and its host institutions including The Australian National University, the University of Technology, Sydney, The University of Queensland, University of Western Australia and University of Melbourne.</li>
    <br/>
    <li>The Australian Social Science Data Archive and its host institutions including The Australian National University, the University of Technology, Sydney, The University of Queensland, University of Western Australia and University of Melbourne shall not be held responsible for the accuracy and completeness of the material supplied.</li>
    <br/>
    <li>ASSDA should be notified of any errors discovered in the materials.</li>
    <br/>
    <li>At the conclusion of my research, any new data collections which have been derived from the materials supplied should be offered for deposit in the ASSDA collection. The deposit of the derived materials will include sufficient explanatory documentation to enable their use by others.</li>
    <br/>
    <li>At the conclusion of my research, all copies of the materials, including temporary copies, CDs, personal copies, back-ups, derived datasets and all electronic copies should be destroyed.</li>
  </ol>
  <br/>
</p>
