<p>
  --<br />
  Australian Social Science Data Archive<br />
  Building 66, 18 Balmain Crescent<br />
  The Australian National University<br />
  Acton, ACT 0200 Australia<br />
  Telephone 61 2 6125 4400<br />
  Fax 61 2 6125 0627<br />
  Website: <%= link_to nil, root_url %><br />
</p>
