<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>
  <head></head>
  <body>

    <p>
      Thank you for signing the ASSDA <%= @undertaking.is_restricted ? "Restricted" : "General" %> Undertaking Agreement and requesting access to the data listed in the copy of the agreement below.

      <% if @undertaking.user.institution_is_acspri_member %>
        Once your request has been processed, you will receive an acknowledgement email and will be given access to the data requested.
      <% else %>
        Once your request has been processed you will be invoiced, and notified by email when you have been given access to the data requested.
      <% end %>
    </p>

    <p>Please keep this email as a copy of the agreement:</p>
    <hr />
    <%= render 'undertakings/agreement_general', :undertaking => @undertaking %>
    <br/>
    <%= render 'signature' %>
  </body>
</html>
