<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>
  <head></head>
  <body>
    General Undertaking form (<%= @undertaking.user.confirmed_acspri_member? ? "ACSPRI" : "Non-ACSPRI" %>) signed by <%= @undertaking.user.user %><br />
    <br />
    The following datasets have been requested:<br />
    <br />
    <% @undertaking.datasets.each do |dataset| %>
      <%= dataset.dataset_description %><br />
    <% end %>
    <br />
    To approve access see: <%= link_to nil, edit_admin_user_url(@undertaking.user) %>
    <br />
    <br />
  </body>
</html>
