<!DOCTYPE html>
<html>
  <head>
    <title>ADA Users</title>
    <link href="http://staff.ada.edu.au/stylesheets/import.css?1306462108" media="screen" rel="stylesheet" type="text/css">
    <%= render "layouts/includes" %>
  </head>
  <body class="default" id="social_science">
    <%= yield %>
  </body>
</html>
